<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "EZ-Rater Pro", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   root_path, id: "ez_menu" %></li>
        <li><%= link_to "Help",   help_path, id: "ez_menu" %></li>
        <li><%= link_to "About",  about_path, id: "ez_menu" %></li>
        <li><%= link_to "Contact", contact_path, id: "ez_menu" %></li>
        <li><%= link_to "Log in", '#', id: "ez_menu" %></li>
      </ul>
    </nav>
  </div>
</header>
